.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.class
*.ap_
*.dex
gen
local.properties
.classpath
obj/**
*.iml
.idea
.idea/*
ant.properties
bin/*
build.xml
out/*
project.properties
.settings/*
